<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.henghao.hhworkpresent"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21"/>

    <!-- 判断是否联网操作权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 联网操作权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 程序退出操作权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- 扫描二维码所需权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
`
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />


    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  

    <!-- 百度API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".FMApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_gyajj_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QmHuTkcoxCpZ5EMHszqqu714eInH99qV" />

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" ></action>
            </intent-filter>
        </service>

        <!-- 实时上传经纬度service -->
        <service
            android:name=".service.RealTimeService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.henghao.hhworkpresent.service.RealTimeService" ></action>
            </intent-filter>
        </service>

        <!-- 测试车辆 服务 service -->
        <service
            android:name=".service.CheliangService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.henghao.hhworkpresent.service.CheliangService" ></action>
            </intent-filter>
        </service>

        <!-- 启动页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activity 测试界面 -->
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- activity 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 个人资料界面 -->
        <activity
            android:name=".activity.MyTongxunluActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 关于我们界面 -->
        <activity
            android:name=".activity.AboutOurActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 关于我们界面 -->
        <activity
            android:name=".activity.AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 通讯录界面 -->
        <activity
            android:name=".activity.MySelfZiliaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 通讯录详细界面 -->
        <activity
            android:name=".activity.MyTongxunluDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 个人待办界面 -->
        <activity
            android:name=".activity.GerendaibanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 发起事宜界面 -->
        <activity
            android:name=".activity.FaqishiyiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 可阅事宜界面 -->
        <activity
            android:name=".activity.KeyueshiyiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 已办事宜界面 -->
        <activity
            android:name=".activity.YibanshiyiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 待办认领界面 -->
        <activity
            android:name=".activity.DaibanrenlingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 待阅事宜界面 -->
        <activity
            android:name=".activity.DaiyueshiyiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 撤办文件界面 -->
        <activity
            android:name=".activity.ChebanwenjianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 已阅事宜界面 -->
        <activity
            android:name=".activity.YiyueshiyiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 办公任务界面 -->
        <activity
            android:name=".activity.BangGongRWActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />
        <!-- 车辆审批界面 -->
        <activity
            android:name=".activity.CheliangSPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />
        <!-- 邮箱界面 -->
        <activity
            android:name=".activity.EmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 通知公告界面 -->
        <activity
            android:name=".activity.GongGaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 考勤界面 -->
        <activity
            android:name=".activity.KaoQingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 上班签到勤界面 -->
        <activity
            android:name=".activity.QiandaoShangbanSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 下班签到界面 -->
        <activity
            android:name=".activity.QiandaoXiabanSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 考勤详情界面 -->
        <activity
            android:name=".activity.KaoqingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 考勤旷工详情界面 -->
        <activity
            android:name=".activity.KaoqingKGDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 外勤签到界面 -->
        <activity
            android:name=".activity.WaiqingQiandaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 地点微调界面 -->
        <activity
            android:name=".activity.LocationTrimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 外勤签到提交界面 -->
        <activity
            android:name=".activity.WaiqingQiandaoSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 请假申请界面 -->
        <activity
            android:name=".activity.QingjiaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 外出申请界面 -->
        <activity
            android:name=".activity.WaichuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 补签申请界面 -->
        <activity
            android:name=".activity.BuqianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 行政执法界面 -->
        <activity
            android:name=".activity.XingZhenZFActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 行政审批界面 -->
        <activity
            android:name=".activity.XingZhenSPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 首页消息详细界面 -->
        <activity
            android:name=".activity.MsgDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 考勤月历界面 -->
        <activity
            android:name=".activity.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 发送公告界面 -->
        <activity
            android:name=".activity.SendGonggaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 未读已读公告详情页面 -->
        <activity
            android:name=".activity.GonggaoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 下一步发送公告界面 -->
        <activity
            android:name=".activity.SendGonggaoNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />

        <!-- 选择联系人界面 -->
        <activity
            android:name=".activity.ChooseContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" />


        <!-- activity 启动本地图片和相机 -->
        <activity
            android:name="com.benefit.buy.library.phoneview.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>